$field-mb: 28px;
$field-mb--sm: 36px;

.form {

  &__holder {
    @include mgCenter();
    width: 100%;
    max-width: 344px;

    @media #{$sm} {
      width: 344px;
    }
  }

  &__field {
    margin-bottom: $field-mb;
    position: relative;

    @media #{$sm} {
      margin-bottom: $field-mb--sm;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &--with_icon {
      & .form__input {
        padding-left: 46px;
      }
    }

    & .icon {
      $iconSize: 25px;

      position: absolute;
      top: calc(100% / 2 - #{$iconSize} / 2);
      left: 12px;
      width: $iconSize;
      height: $iconSize;
      font-size: 25px;
      color: #AEAEAE;
    }

    &--error {
      & .form__input {
        border-color: $danger;

        @include inputHover($danger, 10%);
      }
    }

    & + .form__field-link {
      margin-bottom: 10px;
    }
  }

  &__label {}

  &__input {
    padding: 14px 15px;
    width: 100%;
    @include font(14, 14, 400);
    color: $primary;
    background-color: $white;
    border: 1px solid #C3C3C3;
    border-radius: 5px;
    transition: all .3s ease-out;
    outline: none;

    @media #{$sm} {
      padding: 17px 18px;
      @include font(16, 16);
    }
    
    &::placeholder {
      color: $grey;
    }

    &:focus {
      border-color: $primary;
      transition: all .3s ease-out;

      & + .icon {
        color: $primary;
        transition: all .3s ease-out;
      }
    }

    @include inputHover($primary, 50%);
  }

  &__footnote {
    @include font(16, 19);
    color: $muted;
    text-align: center;
  }

  &__group  {
    margin-bottom: $field-mb;
    display: flex;
    justify-content: space-between;

    @media #{$sm} {
      margin-bottom: $field-mb--sm;
    }

    & .form__field {
      margin-bottom: 0;
      width: calc(100% / 2 - 14px / 2);
    }
  }

  &__error {
    @include textUnderInput(14, 5);
    left: 0;
    color: $danger;

    @media #{$sm} {
      @include textUnderInput(16, 5);
    }
  }

  &__tooltip {
    @include textUnderInput(14, 5);
    right: 0;
    color: $grey;
    cursor: pointer;

    @media #{$sm} {
      @include textUnderInput(16, 5);
    }

    &:hover {
      color: $primary;

      &::before,
      &::after {
        opacity: 1;
        z-index: 1;
        visibility: visible;
        transition: all .2s ease-out;
      }
    }

    &::before,
    &::after {
      position: absolute;
      transition: all .2s ease-out;
      visibility: hidden;
      z-index: -1;
      opacity: 0;
    }

    &::before {
      right: 10px;
      top: -54px;
      content: attr(data-tooltip);
      background-color: $primary;
      color: $white;
      width: 200px;
      border-radius: 5px;
      padding: 8px;

      @media #{$sm} {
        top: -60px;
      }
    }

    &::after {
      content: '';
      top: -12px;
      right: 25px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 7.5px 0 7.5px;
      border-color: $primary transparent transparent transparent;
    }
  }

  &__btn {
    margin-top: 36px;
  }

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}