$font: 'Roboto', sans-serif;

$primary: #1A4F8B;
$secondary: #BF1541;
$muted: #B0B0B0;
$danger: #F14436;

$white: #FFFFFF;
$black: #000000;
$grey: #767676;


//$success:;
//$warning:
//$info: ;
//$light: ;
//$dark: ;

$container: 20px;

$sm: '(min-width: 760px)';
$md: '(min-width: 960px)';
$lg: '(min-width: 1280px)';
$xl: '(min-width: 1660px)';
